body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u93 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:213px;
  top:618px;
  width:162px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
