body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u124 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:69px;
}
#u125 {
  position:absolute;
  left:12px;
  top:499px;
  width:336px;
  height:69px;
}
#u126 {
  position:absolute;
  left:2px;
  top:26px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:95px;
}
#u127 {
  position:absolute;
  left:12px;
  top:398px;
  width:364px;
  height:95px;
}
#u128 {
  position:absolute;
  left:2px;
  top:40px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
