body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:732px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:732px;
}
#u66 {
  position:absolute;
  left:2px;
  top:358px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:19px;
  top:269px;
  width:241px;
  height:105px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
